<%= form_for(@album, :html => {:multipart => true}) do |f| %>
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div><br/>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div><br/>
  <div>
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <br /><%= f.label :extension %>
    <%= f.select :extension, [["JPEG", ".jpeg"], ["JPG", ".jpg"], ["PNG", ".png"], ["GIF", ".gif"]] %>
  </div><br/>
  <div class="actions">
    <button type="submit" class="btn">Submit</button>
  </div>

<% end %>
