<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @photo.name %>
</p>

<p>
  <b>Extension:</b>
  <%= @photo.extension %>
</p>

<p>
  <b>Image:</b>
   <%= display_image @photo %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
