<!DOCTYPE html>
<html>
<head>
  <title>PhotoShare</title>
  <%= stylesheet_link_tag    "application", "bootstrap", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
</head>
<body>

<!-- NAVBAR -->
<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">PhotoShare</a>
          <div class="btn-group pull-right">
            <% if not session[:user_id].nil? then %>
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> <%= display_email(session[:user_id]) %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li class="divider"></li>
              <li><%= link_to 'Sign out', session_sign_out_path %></li>
            </ul>
            <% else %>
            <a class="btn" href="/session/sign_in">
              <i class="icon-user"></i> Sign In
            </a>
            <% end %>
          </div>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li class="active"><a href="/albums">Albums</a></li>
              <li><a href="/photos">Photos</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
<!-- end NAVBAR -->


<%= yield %>

</body>
</html>
